/*accueil*/
.content {
    height: 600px;
}

/*carousel*/
.carousel-inner img {
    height: 668px;
}


#carouselExampleControls {
    height: 570px;


}

.carousel {
    top: -100px;
    position: relative;

}

/*navigation*/
a {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 18px;
}

nav {
    opacity: 0.85;
    height: 100px;
    z-index: 10;
    /* position: static !important;*/
}

.nav-link {
    margin-left: 10px;
}

nav h2 {
    color: white;
    margin-right: 300px;
    font-family: 'Baloo Bhai', cursive;
    font-size: 50px;
    text-decoration: underline;
}

/*Jumbotron*/
.jumbotron {
    margin:auto;
    margin-top:3%;
    background-color: transparent;
    width: 80%;

}
.card{
    margin:auto;
    margin-top:-17%;
}

/*page2*/
body {
    background-image: url(images/background.jpg);
}

.linkcarte h1 {
    margin-top: 10%;
    text-align: center;
    font-family: 'Pacifico', cursive;
    height: 80px;
    font-size: 75px;
    text-decoration: underline;
}

.linkcarte a {
    color: black;
}

.linkcarte li {
    list-style: none;
    display: inline-block;
    margin-top: 4%;
}

.linkcarte ul {
    text-align: center;
}

.menu h2 {
    text-align: center;
    margin-top: 7%;
    font-family: 'Luckiest Guy', cursive;
    font-size: 250%;
    margin-bottom: 5%;
}

.menu h3 {
    margin-left: 20px;
    font-family: 'Permanent Marker', cursive;
}

.prix {
    display: inline-block;
    right: 0;
    position: absolute;
    margin-right: 270px;
}

.menu li {
    display: flex;
    margin-left: 10px;
    margin-bottom: 1%;
    font-family: 'Dancing Script', cursive;
    font-size: 120%;
}

.menu {
    border-style: solid;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}


/*contact*/
.contact {
    background-image: url(images/table.jpg);
}

.form {

    background-color: rgba(255, 255, 255, 0.3);
    width: 90%;
    margin: auto;
    margin-top: 5%;
    font-family: 'Indie Flower', cursive;
    font-size: 135%;

}

.form h2 {
    text-align: center;
    margin-bottom: 3%;
    font-size: 45px;
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
}

.form button {
    margin: auto;
    width: 140px;
}

.form i {
    margin-right: 5%;
}

tr {
    border-bottom-style: solid;
    border-top: rgba(255, 255, 255, 0.2);
    border-width: 2px;
}

.fond {
    background-image: url(images/table.jpg);
}

.resto {
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;

}

.waterloo {
    border-style: solid;
    text-align:center;
}

.namur {
    border-style: solid;
    margin:auto;
    text-align:center;

  
}

.resto p {
    margin-top: -5%;
    font-family: 'Shadows Into Light', cursive;
    font-size:22px;
}

.titre {
    font-size: 36px;
    text-decoration: underline;
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: 'Pacifico', cursive;
}
th {
    font-size: 14px;
    font-weight:bold;
}

td {
    font-size: 14px;
    font-weight:bold;
}
table{
   text-align:center;
}
.album{
    margin-top:5%;
    margin-left:auto;
    margin-right:auto; 

}
.picture{
    margin-top:5%;
    text-align:center;
    font-family: 'Pacifico', cursive;
    font-size:46px;
    text-decoration: underline;
}.pag{
    margin-top:3%;
    margin-left:20%;
}